@font-face {
  src: url(fonts/OptimusPrinceps.ttf);
  font-family: ds;
}

.newfont {
  font-family: ds;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* #questAndDailyComponents {
  display: inline-block;
  /* color: blue; */

/* b {
  color: blue;
} */
